{% extends 'auctions/layout.html' %}


{% block body %}
    <div class="category-head">
        <p >SHOP TOP CATEGORIES</p>
        <a href="#">View All</a>
    </div>
    
 
        {% for category in categories %}
        <div class="image-container category_image">
            <a href="{% url 'category_details' category.id %}">
                <img src="{{ category.category_image }}" alt="">
                <span class="category-name close-text">{{ category.name }}</span>
            </a>
        </div>
        {% endfor %}
    
    {% if not categories %}
        <p>No categories available.</p>
    {% endif %}

    <div class="create-auction-btn">
        <a href="{% url 'create' %}" class="btn btn-primary">Create Auction</a>     
    </div>
{% endblock %}