{% extends "auctions/layout.html" %}

{% block body %}
    <h2>Auctions Details</h2>
    {% if auction %}
        <div class="auction-item">
            <h3>{{ auction.title }}</h3>
            <img src="{{ auction.image_url }}" width="300px" alt="Image not found">
            <p>{{ auction.description }}</p>
            <p>Current Bid: ${{ auction.starting_bid }}</p>
            <p>Created by: {{ auction.creator.username }}</p>
            <p>Created on: {{ auction.created_at }}</p>

            <a href="{% url 'index' %}">Back to Listings</a>
        </div>
    {% else %}
        <p>No details available for this auction.</p>
    {% endif %}
{% endblock %}

